body {
    background-color: black;
    background-image: url('../../image/heaven.jpg');
    background-repeat: no-repeat;
    background-size: 2000px;
    
}
.wrap-main {
    width: 1100px;
    margin: 100px auto;
    font-size: 28px;
    color: white;
}

.wrap-main > div.login-box{
    width: 500px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.2);
    height: 450px;
    border-radius: 10px;
}

.login-box > .top-bar {
    position: relative;
    background-color: #503396;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.close-login[type=button] {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
}

.main-login {
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.main-login > * {
    height: 50px;
    margin: 10px 30px;
    font-size: 24px;
}

.login-box {
    text-align: center;
}

.main-login > input {
    background-color: rgba(255, 255, 255, 0.6);
}

.main-login > input:focus{
    outline : 5px solid #503396;
}

.main-login > input[type=button] {
    border-radius: 10px;
    border: none;
    width: 200px;
    margin: 30px auto;
    background-color: #503396;
    color: white;
}

.main-login > input[type=button]:disabled {
    background-color: #aaa;
}


.login-box > .join {
    height: 50px;
    width: 200px;
    margin: 10px auto;
    background-color: #503396;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: white;
}