*{
    box-sizing: border-box;
    color: black;
}

/* 배경 */
body{
    background-color: black;
}

.wrap-signUp{
    width: 710px;
    margin: 0 auto;
    background-color: white;
    padding: 80px 100px;
}

/* 헤더 */

header > div.top {
    display: block;
    margin: 0;
    padding: 0 0 70px 0;
}

header > div.top > a {
    display: block;
    width: 140px;
    height: 47px;
    margin: 0 auto;
    padding: 0;
    background: url('../../image/stars.png') center no-repeat;
}

/* 메인 */

    /* 스텝바 */

.step {
    margin-bottom: 40px;

}
.stepbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.step > ul.stepbar > li {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 3px solid;
    border-color: #ccc;
}

.step > ul.stepbar > li.step1 {
	border-color: #503396;
}

    /* 폼 영역 */

.subbutton {
    width: 100%;
    margin: 0 auto;
}

.mainbox input[type=button]{
        background-color: #503396;
        border: none;
        border-radius: 5px;
        width: 200px;
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        margin: 0 auto;
        height: 46px;
    }
.mainbox input[type=button]:disabled{
        background-color: #ddd;
        color: #666;
    }
    
.mainbox input[type=submit]{
        background-color: #503396;
        border: none;
        border-radius: 5px;
        width: 200px;
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        margin: 0 auto;
        height: 46px;
    }
.mainbox input[type=submit]:disabled{
        background-color: #ddd;
        color: #666;
    }

    /* step1 */
.wrap-step1 h1 {
    padding: 0 0 15px 0;
}

input[type=checkbox]{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

div.checkAll{
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}
div.checkAll h2{
    font-size: 24px;
}

.terms  {
    display: flex;
    flex-direction: column;
}

.checkAll {
    display: flex;
}

.terms > .check  {
    display: flex;
}

.terms > div.check > *{
    
}

.terms > div {
    width: 100%;
    margin: 10px 0;
}

.wrap-step1 textarea{
    width: 100%;
    resize: none;
    border: 1px solid #ccc;
    padding-left: 40px;
}
.wrap-step1 textarea:focus {
    outline: none;
}

label h2 {
	font-size: 18px;
	padding-top : 3px;
}



    /* step2 */

.wrap-step2 {
    display:none;
}    

.wrap-step2 input {
    border: 1px solid #ccc;
    width: 260px !important;
    margin: 0 5px;
    height: 32px;
    font-size: 15px;
}

.wrap-step2 > p {
    padding-bottom: 20px;
}

.wrap-form {
    border-top: 1px solid black;
}

.wrap-form tr {
    border-bottom: 1px solid #ccc;
}

.wrap-form th {
    height: 50px;
    vertical-align: middle;
    text-align: left;
    font-size: 15px;
    padding: 7px 15px;
    background-color: #eee;
}
.wrap-form td {
    height: 50px;
    vertical-align: middle;
    text-align: left;
    padding: 7px 15px;
    width: 380px;
}

.mainbox .wrap-step2 button[type=button].idcheck{
        width: 75px;
    	height: 32px;
    	font-size: 12px;
    	margin-left: 5px;
    	border:none;
    	border-radius: 5px;
    }

.mainbox .wrap-step2 button[type=button].idcheck:disabled{
        background-color: #ddd;
        color: #666;
    }

.alert {
	display: none;
	margin: 0 auto;
	font-size: 12px;
	color: red;
	text-align: center;
}

.alert2 {
	display: none;
	margin: 0 auto;
	font-size: 12px;
	color: red;
	text-align: center;
}

.subbutton{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}

    /* step 3 */

.wrap-step3 {
    display: none;
    text-align: center;
}

.icon {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-image: url('/css/stars.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.wrap-step3 > div:nth-of-type(1){
    padding: 30px 0 0 0;
    color: #503396;
    font-size: 1.4666em;
}

.wrap-step3 > div:nth-of-type(2){
    font-size:15px;
    padding: 10px 0 15px 0;
}

.subbutton3 {
    padding-top: 40px;
}
